{% extends "fatanalysis/base.html" %}
{% load i18n %}

{% block fatanalysis_content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Delete Upload Period" %}</h3>
                </div>
                <div class="panel-body">
                    <p>{% trans "Are you sure you want to delete the FAT upload for" %} <strong>{{ period.get_period_type_display }}</strong> {% trans "on" %} <strong>{{ period.upload_date|date:"Y-m-d H:i" }}</strong>?</p>
                    <p class="text-danger">{% trans "This will also delete all associated FAT entries and data. This action cannot be undone." %}</p>
                    
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">{% trans "Yes, Delete" %}</button>
                        <a href="{% url 'fatanalysis:period_list' %}" class="btn btn-default">{% trans "Cancel" %}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
